<div class="row">
	<span style="width:130px;">
		<img src="#img#" class="avatar trans_center"/>
	</span>
	<span style="color:#999999;font-size:24pt;line-height:110px;width:330px;">#name# 申请加入</span>
	<span style="width:160px">
		<span class="#rej-appr-sty# trans_center ui-corner-all">#rej-appr#</span>
	</span>
</div>
