
<div class="attach" onclick="showActivity(this)">
	<span>
		<img src="#cover_img#" class="act-avatar trans_center"/>
	</span>
	<span>
		<div>
			<span>#category#</span>
		</div>
		<div style="height:60px; line-height:60px;font-size:20pt;color:#999999;">
			#title#
		</div>
	</span>
	<span class="switch icon-f" style="width:50px;height:50px;top:45px;left:10px;" aid="#aid#"></span>
</div>
