<div class="row">
	<div style="width:1000px;height:100%" onclick="act_table(#gid#, '#uid#')">
		<span>
			<img src="#img#" class="avatar trans_center"/>
			<div style="top:50px;text-align:center;">#name#</div>
		</span>
		#_#
	</div>
</div>
