.icon-b{
	width:auto;
	height:auto;
	background: url(../icons/b.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-1a{
	width:auto;
	height:auto;
	background: url(../icons/1a.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-1{
	width:auto;
	height:auto;
	background: url(../icons/1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-2a{
	width:auto;
	height:auto;
	background: url(../icons/2a.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-u{
	width:auto;
	height:auto;
	background: url(../icons/u.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-l{
	width:auto;
	height:auto;
	background: url(../icons/l.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-e{
	width:auto;
	height:auto;
	background: url(../icons/e.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-7{
	width:auto;
	height:auto;
	background: url(../icons/7.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-v{
	width:auto;
	height:auto;
	background: url(../icons/v.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-y{
	width:auto;
	height:auto;
	background: url(../icons/y.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-n{
	width:auto;
	height:auto;
	background: url(../icons/n.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-2{
	width:auto;
	height:auto;
	background: url(../icons/2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-3{
	width:auto;
	height:auto;
	background: url(../icons/3.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-i{
	width:auto;
	height:auto;
	background: url(../icons/i.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-f{
	width:auto;
	height:auto;
	background: url(../icons/f.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-j{
	width:auto;
	height:auto;
	background: url(../icons/j.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-m{
	width:auto;
	height:auto;
	background: url(../icons/m.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-g{
	width:auto;
	height:auto;
	background: url(../icons/g.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-z{
	width:auto;
	height:auto;
	background: url(../icons/z.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-5{
	width:auto;
	height:auto;
	background: url(../icons/5.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-h{
	width:auto;
	height:auto;
	background: url(../icons/h.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-4{
	width:auto;
	height:auto;
	background: url(../icons/4.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-k{
	width:auto;
	height:auto;
	background: url(../icons/k.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-z{
	width:auto;
	height:auto;
	background: url(../icons/z.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-w{
	width:auto;
	height:auto;
	background: url(../icons/w.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-o{
	width:auto;
	height:auto;
	background: url(../icons/o.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-p{
	width:auto;
	height:auto;
	background: url(../icons/p.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-q{
	width:auto;
	height:auto;
	background: url(../icons/q.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-r{
	width:auto;
	height:auto;
	background: url(../icons/r.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-s{
	width:auto;
	height:auto;
	background: url(../icons/s.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-6{
	width:auto;
	height:auto;
	background: url(../icons/6.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-0a{
	width:auto;
	height:auto;
	background: url(../icons/0a.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}

.icon-0b{
	width:auto;
	height:auto;
	background: url(../icons/0b.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*  Firefox  */
}
