div, ul, img, p, span, li {
    position:relative;
    float: left;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style-type: none;
    overflow:hidden;
    /*    border: 1px solid red;*/
}
.act_avatar, .avatar {
    float: left;
    display: inline;
    width:40px;
    height:40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    left:50%;
    top:50%;
}
.row {
    height: 120px;
    background-color:#d0d0d0;
    font-size: 10px;
    text-align: center;
}
.row_avatar {
    height: 100px;
    width: 20%;
    /*  border: 1px solid red;*/
}
.row_avatar div:first-of-type {
    margin-top:15px;
    height: 45px;
}
.row_avatar div:nth-of-type(2) {
    color: #d0d0d0;
    height: 1em;
}
.row_avatar div:nth-of-type(3) {
    margin-top:3px;
    height: 1.5em;
    width: 4.5em;
    color: white;
    background-color: red;
}
.trans_horize {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}
.row_acts {
    height: 100%;
    background-color: white;
    width:1000px;
    /*    border: 1px solid red;*/
}
.row_acts > span {
    height: 100%;
    width: 80px;
    padding-left: 3px;
    /*    border: 1px solid red;*/
}
.row_acts div:first-of-type {
    height:45px;
    margin-top:10px;
}
.row_acts div:nth-of-type(2) {
    line-height: 1.5em;
    height: 1.5em;
    color: red;
}
.row_acts div:nth-of-type(3) {
    line-height: 1.5em;
    height: 3em;
    color: #c0c0c0;
}